---
import { changeLanguage } from "i18next";
import { getCollection } from "astro:content";
import Layout from "../../../layouts/Layout.astro";

changeLanguage("en");

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<Layout>
  <main class="bg-gray-50 dark:bg-slate-800">
    <section class="pt-24 pb-16">
		<p class="mt-2 text-3xl font-bold tracking-tight text-center text-orange-600 sm:text-4xl"></p>
      <h1 class="text-4xl text-center font-medium tracking-tight text-gray-900 dark:text-white mb-10">
        Últimos Artículos
      </h1>
      <ul class="grid gap-8 max-w-6xl mx-auto px-4 sm:grid-cols-2 lg:grid-cols-3">
        {posts.map((post) => (
          <li class="bg-white rounded-lg shadow-md overflow-hidden hover:shadow-xl transition-shadow duration-300">
            <a href={`/blog/${post.slug}/`} class="block h-full">
              <img
                width={720}
                height={360}
                src={post.data.heroImage}
                alt={post.data.title}
                class="w-full h-48 object-cover"
              />
              <div class="p-6">
                <h4 class="text-xl font-semibold text-gray-900  mb-3">
                  {post.data.title}
                </h4>
                <p class="text-sm text-gray-600  mb-4">
                  {post.data.pubDate.toLocaleDateString()}
                </p>
                <p class="text-gray-700  line-clamp-3">
                  {post.data.description || 'Descripción del artículo...'}
                </p>
              </div>
            </a>
          </li>
        ))}
      </ul>

	  






    </section>
  </main>
</Layout>
