---
import { localizePath } from "astro-i18next";
import { t } from "i18next";
import { Icon } from "astro-icon/components";


const year = new Date();

const images = {
    imgOne: "https://images.pexels.com/photos/3183197/pexels-photo-3183197.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1",
}


const footerLinks = [
    {
        text: "Compañia",
        items: [
        { href: localizePath("/"), text: t("nav.home") },
        { href: localizePath("/nosotros"), text: t("nav.about") },
        { href: localizePath("/precios"), text: t("nav.pricing") },
        { href: localizePath("/contacto"), text: t("nav.contact") },
        ],
      },
      {
        text: "Recursos",
        items: [
          { text: "Blog", href: localizePath("/blog") },
          { text: t("footer.portfolio"), href: localizePath("/portafolio") },
          { text:t("nav.solutions"), href: localizePath('/soluciones') },
   
        ],
      },
      {
        text: "Oferta",
        items: [
          { href: localizePath('/soluciones/diseno-desarrollo-web'), text: t("nav.solution.01") },
          { href: localizePath('/soluciones/identidad-corporativa'), text: t("nav.solution.02") },
          { href: localizePath('soluciones/optimizacion-seo'), text: t("nav.solution.03") },
        ],
      },
      {
        text: "Legal",
        items: [
          { text: t("footer.policy"), href: localizePath("/politica-de-privacidad") },
          { text: t("footer.terms"), href: localizePath("/terminos-y-condiciones") },          
        ],
      },
];
const legal = footerLinks[3];
const compania = footerLinks[0];
const recursos = footerLinks[1];

---


<footer class="dark:bg-slate-800 lg:grid lg:grid-cols-5 ">
    <div class="relative block h-32 lg:col-span-2 lg:h-full">
      <img
        src={images.imgOne}
        alt=""
        class="absolute inset-0 h-full w-full object-cover rounded-tr-3xl"
      />
    </div>
  
    <div class="px-4 py-16 sm:px-6 lg:col-span-3 lg:px-8">
      <div class="grid grid-cols-1 gap-8 sm:grid-cols-2">


        <div>
          
            <span class="text-xs uppercase tracking-wide dark:text-white text-gray-500">
              {t("home.hero-button.02")}
            </span>
  
            <a  href="https://api.whatsapp.com/send/?phone=573008124453" target="_blank" class="block text-2xl font-medium dark:text-white text-gray-900 hover:text-orange-400 dark:hover:text-orange-400 sm:text-3xl">
              +57 300 812 4453
            </a>
            <br>


           <a href="mailto:info@sarpin.agency" type="email" class="border-none flex gap-2 ">
          <Icon name="envelop" class="h-5 w-5" />
             
              
              <span class="text-sm tracking-wide dark:text-white text-gray-500">
                info@sarpin.agency
              </span>
        
            </a>
          
  
          <ul class="mt-8 space-y-1 text-sm text-gray-700 dark:text-white">
            <li>Cartagena de Indias</li>
            <li>Barranquilla</li>
          </ul>
  
          <ul class="mt-8 flex gap-6">
            <li>
              <a
                href="https://www.facebook.com/sarpin.agency"
                rel="noreferrer"
                target="_blank"
                class="text-gray-700 dark:text-white transition hover:text-orange-400 dark:hover:text-orange-400"
              >
              <Icon name="facebook" class="w-8 h-8" />
              </a>
            </li>
  
            <li>
              <a href="https://www.instagram.com/sarpin.agency"
                rel="noreferrer"
                target="_blank"
                class="text-gray-700  dark:text-white transition hover:text-orange-400 dark:hover:text-orange-400"
              >
                <span class="sr-only">Instagram</span>
  
                  <Icon name="instagram" class="w-8 h-8" />
              </a>
            </li>
          </ul>
        </div>
  
        <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
          <div>
            <p class="font-medium dark:text-orange-500 text-gray-900">{t("footer.resources")}</p>
  
            <ul class="mt-6 space-y-4 text-sm">
              {
               recursos.items.map((item) => (
               <li>
                  <a href={item.href} class="text-gray-700 dark:text-white transition hover:opacity-75"> {item.text}</a>
                </li>
               ))
              }
  
            </ul>
          </div>
  
          <div>
            <p class="font-medium dark:text-orange-500 text-gray-900">{t("footer.company")}</p>
  
            <ul class="mt-6 space-y-4 text-sm">
             
              {
                compania.items.map((item) => (
                <li>
                  <a href={item.href} class="text-gray-700 dark:text-white transition hover:opacity-75">{item.text} </a>
                </li>
                ))
              }
              
            </ul>
          </div>
        </div>
      </div>
  
      <div class="mt-12 border-t border-gray-100 pt-12">
        <div class="sm:flex sm:items-center sm:justify-between">
          <ul class="flex flex-wrap gap-4 text-xs">
        
                    {
                      legal.items.map((item) => (
                        <li>
                           <a href={item.href} class="text-orange-500 transition hover:opacity-75"> {item.text}</a>
                        </li>
                      ))
                    }
           
          </ul>
  
          <p class="mt-8 text-xs dark:text-white text-gray-500 sm:mt-0">
            Sarpin Devs © {year.getFullYear()}. {t("footer.rights")}
        </div>
      </div>
    </div>
  </footer>